<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../public/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../public/img/shovelicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Rentals
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar" data-color="green">
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          Rentals
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Items Available</p>
            </a>
          </li>
          <% if(currentUser) { %>
            <li>
              <a href="/transactions">
                <i class="now-ui-icons business_money-coins"></i>
                <p>Transactions</p>
              </a>
            </li>
            <li>
              <a href="/logout">
                <i class="now-ui-icons users_single-02"></i>
                <p>Logout</p>
              </a>
            </li>
            <li>
              <p style="color: white; padding-left: 20px">Logged in as <%= currentUser.username %></p>
            </li>
          <% } else { %>
            <li>
              <a href="/login">
                <i class="now-ui-icons users_single-02"></i>
                <p>Login</p>
              </a>
            </li>
            <li>
              <a href="/register">
                <i class="now-ui-icons ui-1_simple-add"></i>
                <p>Register</p>
              </a>
            </li>
          <% } %>
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Item Catalog</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Item Number
                      </th>
                      <th>
                        Lender
                      </th>
                      <th>
                        Borrower
                      </th>
                      <th>
                        Cost
                      </th>
                      <th>
<<<<<<< HEAD
                        Duration
=======
                        Max Duration
>>>>>>> f68f4bad5280a59870d5bb15cbdfdc5be8784e6f
                      </th>
                      <th>
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <%  items.forEach((item, index) => { %>
                      <tr>
                        <td><%= item.name %></td>
                        <td><%= item.exchangeId %></td>
                        <td><%= item.offerer.username %><% if (item.offerer.ready) { %> [Ready]<% } %></td>
                        <td><% if (item.borrower && item.borrower.username) { %><%= item.borrower.username %><% } else { %><strong>Nobody</strong><% } %></td>
                        <td><%= item.price %></td>
                        <td><% if (item.duration) { %><%= item.duration %><% } else { %> No offer </td> <% } %>
                        <td>
                          <% if (currentUser && currentUser.id == item.offerer.id && item.duration == 0) {%>
                          <button type="button" class="btn">No requests</button>
                          <% } else if (currentUser && currentUser.id == item.offerer.id) { %>
                          <form action="/item/<%= item.id %>/ready">
                            <input type="hidden" value="offerer" name="ready">
                            <button type="button" class="btn" data-toggle="modal" data-target="#modalo<%= index %>">Confirm</button>
                          </form>
                          <div class="modal" id="modalo<%= index %>">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4>Requests</h4>
                                  <button type="button" class="btn-danger" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form action="/item/<%= item.id %>/ready" method="POST">
                                    <span class="label">Item: <%= item.name %></span><br/><br/>
                                    <input type="hidden" name="ready" value="offerer">
                                    <span class="label">Duration: <%= item.duration %></span><br/><br/>    
                                    <button class="btn">Approve Request</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% } else { %>
                          <% if (currentUser) { %>
                          <button type="button" class="btn" data-toggle="modal" data-target="#modalb<%= index %>">Rent</button>
                          <% } %>
                          <div class="modal" id="modalb<%= index %>">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4>Rental Request</h4>
                                  <button type="button" class="btn-danger" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form action="/item/<%= item.id %>/ready" method="POST">
                                    <span class="label">Item: <%= item.name %></span><br/><br/>
<<<<<<< HEAD
                                    <span class="label">Duration(s):  </span><input type="number" name="duration"><br/><br/>
                                    <input type="hidden" name="ready" value="borrower">
=======
                                    <% if (currentUser && currentUser.id == item.offerer.id) { %>
                                        <input type="hidden" name="ready" value="offerer">
                                        <button>Ready</button>
                                    <% } else if (currentUser && currentUser.id != item.offerer.id) { %>
                                        <span class="label">Duration: </span><input type="number" name="duration"><br/><br/>
                                        <input type="hidden" name="ready" value="borrower">
                                        <button>Ready</button>
                                    <% } %>
>>>>>>> f68f4bad5280a59870d5bb15cbdfdc5be8784e6f
                                    <button class="btn">Submit</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% } %>
                        </td>
                      </tr>
                      <%  });  %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
</body>
</html>
